@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}

.container-login
{
    height: 200px;
	padding: 19px;
	margin: 0 auto;
	margin-top: 10%;
	width:100%;
}

.container-form2
{
    	height: 100%;
        padding: 20px;
        margin: 0 auto;
        margin-top: 40px;
        background-color: #ffffff;
        border: 1px solid rgb(227, 227, 227);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
        width:30%;
}


