{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

	 <script type="text/javascript">
      $(function () {
          $(document).on('click', 'a.disconnect', function (e) {
              e.preventDefault();
              $('form#disconnect-form')
                  .attr('action', $(this).attr('href'))
                  .submit();
          });
      });
    </script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK0EN65C9072dbRhU-YJ5qMl4RSBg5dJs&sensor=false">
    </script>
    <script type="text/javascript">
      var openInfoWindow = null;
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(28.5460459, 77.2714055),
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.HYBRID,
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
	
      {{s|safe}}
	
	function toggleBounce() {
		newmarker(28.5460454, 77.2710000,this.text);
	}
	
	function newmarker(x,y,text,contentString, color){
		var myLatlng = new google.maps.LatLng(x, y);
    content = {
      position: myLatlng,
      map: map,
      draggable:false,
      animation: google.maps.Animation.DROP,
      title:text,
    }
    if (color === 'red'){
      content.icon = "{% static 'gmaps-red-marker.png' %}"
    }
    if (color==='blue'){
      content.icon = "{% static 'gmaps-blue-marker.png' %}";
    }
    else if (color==='green'){
      content.icon = "{% static 'gmaps-green-marker.png' %}";
    }
    var marker = new google.maps.Marker(content);
    var infowindow = new google.maps.InfoWindow({
     content: contentString
   });
    google.maps.event.addListener(marker, 'click', function() {
     if (openInfoWindow){
      openInfoWindow.close();
     }
     openInfoWindow = infowindow;
     infowindow.open(map,marker);
   });
    marker.setMap(map);
  }
	}
	
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>


	 <style type="text/css">
body{
font-size:100%;
background-color:#303030;
}

.logo{
    font-family: 'Londrina Shadow', cursive;
    width: 100%;
	font-size: 28px;
	font-weight:700;
    color: #DDDDDD;`
	text-align: center;
  }
	
</style>

<div class="container" style="height:100%;width:100%;margin-top:3.8%;padding:0px 0px 0px 0px">
	 <div id="map-canvas" style ="height:100%;width:100%"></div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: rgba(128, 128, 128, 0.5);">
 	
	<div class="container">
		
			<center>
			<div class="btn-group btn-lg" style="padding:10px 10px 10px 0px">
			<a href="/lostitem"><button type="button" class="btn btn-danger" >I've Lost Something</button></a> 
			<a href="/founditem"><button type="button" class="btn btn-success" >I've Found Something</button></a>
			
			</div>
			
			</center>
    </div>
</nav>
	
{% endblock %}