{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK0EN65C9072dbRhU-YJ5qMl4RSBg5dJs&sensor=false">
</script>

<script type="text/javascript">
  var openInfoWindow = null;
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(28.5453, 77.2714055),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.HYBRID,
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    {{s|safe}}

    function newmarker(x, y, name, description, time, time_of_day, item_type, link, imagelink){
      var myLatlng = new google.maps.LatLng(x, y);
      content = {
        position: myLatlng,
        map: map,
        draggable:false,
        animation: google.maps.Animation.DROP,
        title:name,
      }

      if (item_type === 'lost'){
        content.icon = "{% static 'gmaps-red-marker.png' %}"
      }
      else {
        content.icon = "{% static 'gmaps-blue-marker.png' %}";
      }

      var popup_html = '<div id="content" style="max-width:400px;"><h3 id="firstHeading" class="firstHeading">' + name;

      if (imagelink !== ''){
        popup_html += '<a href="'+ imagelink +'" target=new><span class="glyphicon glyphicon-camera" style="margin-left:20px; color: black"></span></a>';
       }

      popup_html += '</h3> <div id="bodyContent"><p style="font-size:16px;">' + description;

      if (item_type === 'lost'){
        popup_html += '<br />Last seen <strong>' + time;
        if (time_of_day !== ''){
          popup_html += '</strong> in the ' + time_of_day;
        }
      }

      else{
        popup_html += '<br />Found <strong>' + time + '</strong>';
      }

      popup_html += '.</p><a class="btn btn-';

      if (item_type === 'lost'){
        popup_html += 'info';
      }
      else{
        popup_html += 'danger'; 
      }

      popup_html += ' btn-xs" data-toggle="modal" href="'+ link +'" data-target="#base-confirmation-modal">';

      if (item_type === 'lost'){
        popup_html += "I've found it.";
      }
      else{
        popup_html += "It's mine.";
      }

      popup_html += '</a> </div></div> ';
      var marker = new google.maps.Marker(content);
      
      var infowindow = new google.maps.InfoWindow({
      content: popup_html
    });
    google.maps.event.addListener(marker, 'click', function() {
    if (openInfoWindow){
      openInfoWindow.close();
    }

    openInfoWindow = infowindow;
    infowindow.open(map,marker);
   });
   marker.setMap(map);
  }
	}

  google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<script type="text/javascript">
  $('body').on('hidden.bs.modal', '.modal', function(){
    $(this).removeData('bs.modal');
  })
</script>>

	 <style type="text/css">
body{
background-color:#303030;
}

.logo{
    font-family: 'Londrina Shadow', cursive;
    width: 100%;
	font-size: 28px;
	font-weight:700;
    color: #DDDDDD;
	text-align: center;
  }
	
</style>

<div class="container" style="height:100%;width:100%;padding:0px 0px 0px 0px">
	 <div id="map-canvas" style ="height:100%;width:100%"></div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: rgba(128, 128, 128, 0.5);">
 	
	<div class="container">
		
			<center>
			<div class="btn-group btn-lg" style="padding:10px 10px 10px 10px">
			<a href="/lostitem"><button type="button" class="btn btn-danger" style="margin-right:5px;">I've Lost Something</button></a> 
			<a href="/founditem"><button type="button" class="btn btn-success" style="margin-left:5px;">I've Found Something</button></a>
			
			</div>
			
			</center>
    </div>
</nav>
	
{% endblock %}
