{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK0EN65C9072dbRhU-YJ5qMl4RSBg5dJs&sensor=false">
</script>

<script type="text/javascript">
  var openInfoWindow = null;
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(28.5453, 77.2714055),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.HYBRID,
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    {{s|safe}}
	
    function newmarker(x, y, name, description, time, item_type, link, imagelink){
      var myLatlng = new google.maps.LatLng(x, y);
      content = {
        position: myLatlng,
        map: map,
        draggable:false,
        animation: google.maps.Animation.DROP,
        title:name,
      }

      if (item_type === 'lost'){
        content.icon = "{% static 'gmaps-red-marker.png' %}"
      }
      else {
        content.icon = "{% static 'gmaps-blue-marker.png' %}";
      }

      var popup_html = '<div id="content"><div id = "siteNotice"></div><h3 id="firstHeading" class="firstHeading">' + 
       name + '</h3> <div id="bodyContent"><p>' + description;

       if (imagelink !== ''){
        popup_html += '<a href="'+ imagelink +'" target=new><span class="glyphicon glyphicon-camera"></span></a>';
       }

       popup_html += '</p>Lost ';

        if (time == 0){
          popup_html += 'today';
        }
        else{
          popup_html += time;
          popup_html += ' days ago';
        }

        popup_html += '.</p> <p text-align:right > <a class="btn btn-';
     
      if (item_type === 'lost'){
        popup_html += 'info';
      }
      else{
        popup_html += 'danger'; 
      }

      popup_html += ' btn-xs" data-toggle="modal" href="'+ link +'" data-target="#base-confirmation-modal" style="width:135px;">';

      if (item_type === 'lost'){
        popup_html += 'I found it !';
      }
      else{
        popup_html += 'Hey. Its mine !';
      }

      popup_html += '</a> </div></div> ';
      console.log(popup_html)
      var marker = new google.maps.Marker(content);
      var infowindow = new google.maps.InfoWindow({
      content: popup_html
    });
    google.maps.event.addListener(marker, 'click', function() {
    if (openInfoWindow){
      openInfoWindow.close();
    }
    
    openInfoWindow = infowindow;
    infowindow.open(map,marker);
   });
   marker.setMap(map);
  }
	}
	
  google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<script type="text/javascript">
  $('body').on('hidden.bs.modal', '.modal', function(){
    $(this).removeData('bs.modal');
  })
</script>>

	 <style type="text/css">
body{
font-size:100%;
background-color:#303030;
}

.logo{
    font-family: 'Londrina Shadow', cursive;
    width: 100%;
	font-size: 28px;
	font-weight:700;
    color: #DDDDDD;`
	text-align: center;
  }
	
</style>

<div class="container" style="height:100%;width:100%;padding:5px 0px 0px 0px">
	 <div id="map-canvas" style ="height:100%;width:100%"></div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: rgba(128, 128, 128, 0.5);">
 	
	<div class="container">
		
			<center>
			<div class="btn-group btn-lg" style="padding:10px 10px 10px 0px">
			<a href="/lostitem"><button type="button" class="btn btn-danger" >I've Lost Something</button></a> 
			<a href="/founditem"><button type="button" class="btn btn-success" >I've Found Something</button></a>
			
			</div>
			
			</center>
    </div>
</nav>
	
{% endblock %}