{% load bootstrap %}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="ModalLabel"> Feedback </h4>
		</div>
		{% if logged_in %}
		<form method="post" action="{% url 'feedback' %}">{% csrf_token %}
			<div class="modal-body">
				{{ form|bootstrap }}
			</div>

			<div class="modal-footer">
				<input type="submit" value="Give feedback" class="btn btn-info btn-lg" style="margin-right:10px; margin-top:10px;" />
			</div>
		</form>
		{% else %}
		<div class="modal-body">
			Please <a href="{% url 'google_login' %}">sign in </a>to give feedback.
		</div>

		<div class="modal-footer">
		</div>
		{% endif %}
	</div>
</div>