{% extends 'base.html' %}
{% load bootstrap %}

{% block body %}

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
  $(function() {
    var today = new Date();
    $( "#{{founditem_form.time.auto_id}}" ).datepicker({
      maxDate: 0,
      changeMonth: true,
      changeYear: true
    });
  });
</script>

<div class="row" style="padding-top:50px;">
	<div class="col-lg-offset-3 col-lg-6">
		<div class="well" style="background:white;">
		<div class="container-fluid">
				<legend>Item Details</legend>
				<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ founditem_form|bootstrap }}
				<center><input type="submit" value="REPORT"class="btn btn-primary"/></center>
			</form>
		</div>
		</div>
	</div>
</div>
{% endblock %}
