{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="row" style="padding-top:5%">
	<div class="col-md-6 col-md-offset-3">

		{% if lost %}
		<h3> Inactive Lost Items </h3>
		
		<table class="table">
			<thead>
			<tr>
	          <th>Item</th>
	          <th>Details</th>
	          <th>Status</th>
	        </tr>
     		</thead>
     	 <tbody>	
		{% for x in lost %}
		<tr class="active">
		<td>{{x.itemname}} </td>
		<td>Lost at {{x.location}} on {{x.time}} {{x.additonalinfo}} </td>
		<td><a href="/reopenlost/{{x.id}}" align="right"><span class="label label-default">Reopen</span></a>
		<br></td>

		{% endfor %}
		</tbody>
		</table>
		 {% else %}
		    <h3>    <p>You have No Inactive Lost Items</p>  </h3>
		    {% endif %} 

		{% if found %}
		<h3> Inactive Found Items </h3>

		<table class="table">
			<thead>
			<tr>
	          <th>Item</th>
	          <th>Details</th>
	          <th>Status</th>
	        </tr>
     		</thead>
     	 <tbody>

		{% for x in found %}
		<tr class="active">
		<td>{{x.itemname}} </td>
		<td>Lost at {{x.location}} on {{x.time}} {{x.additonalinfo}} </td>
		<td><a href="/reopenfound/{{x.id}}" align="right"><span class="label label-default">Reopen</span></a>
		<br></td>

		
		{% endfor %}
		</tbody>
		</table>
		 {% else %}
		    <h3>    <p>You have No Inactive Found Items</p>  </h3>
		    {% endif %} 
		    
		{% if lostactive %}
		<h3> Active Lost Items </h3>
		<table class="table">
			<thead>
			<tr>
	          <th>Item</th>
	          <th>Details</th>
	        </tr>
     		</thead>
     	 <tbody>	

		{% for x in lostactive %}
		<tr class="active">
		<td>{{x.itemname}} </td>
		<td>Lost at {{x.location}} on {{x.time}} {{x.additonalinfo}} </td>
		{% endfor %}
		</tbody>
		</table>
		 {% else %}
		    <h3>    <p>You have No Active Lost Items</p>  </h3>
		    {% endif %} 

		{% if foundactive %}
		<h3> Active Found Items </h3>
		<table class="table">
			<thead>
			<tr>
	          <th>Item</th>
	          <th>Details</th>
	        </tr>
     		</thead>
     	 <tbody>	

		{% for x in foundactive %}
		<tr class="active">
		<td>{{x.itemname}} </td>
		<td>Lost at {{x.location}} on {{x.time}} {{x.additonalinfo}} </td>
		{% endfor %}
		 {% else %}
		 </tbody>
		 </table>
		    <h3>    <p>You have No Active Found Items</p>  </h3>
		    {% endif %} 

    </div>
 </div>
{% endblock %}