{% extends 'base.html' %}
{% load staticfiles %}
{% load mod_timesince %}
{% block body %}

<div class="row" style="padding-top:5%">
  <div class="col-md-8 col-md-offset-2">
    <style type="text/css">
      button.confirm-button{}
      tr.result{}
    </style>
  
    <script src="{% static 'js/search_log.js' %}"></script>

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="active"><a href="#1" role="tab" data-toggle="tab">
    <span style="color:black;"><strong>Lost Items</strong></span>
  </a>
</li>
<li><a href="#2" role="tab" data-toggle="tab">
  <span style="color:black;"><strong>Found Items</strong></span>
</a>
</li>
</ul>
<div>
  <div style="padding-top:5px; width:50%; margin:0 auto;">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      <input class="form-control" type="text" id="search">{% csrf_token %}
      <div class="input-group-addon" id="searching_text">Searching...</div>
    </div>
  </div>
</div>
<div class="tab-content">

  <div class="tab-pane fade in active" id="1">
    {% if lost %}
    <h3><strong>Lost Items</strong></h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Details</th>
          <th>Specifics</th>
          <th>Report</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>  
        {% for x in lost %}

        <tr class="active result" id="lost-{{ x.pk }}">
          <td>{{x.itemname}} </td>
          <td>Last seen at {{x.location}} about <span data-toggle="tooltip" title="{{ x.time }}">
            {{ x.time|ago }} {% ifequal x.get_time_of_day_display 'Don\'t know' %}{% else %} in the {{ x.get_time_of_day_display|lower }}{% endifequal %}.</span></td>
            <td>{{x.additionalinfo}} </td>

            <td><button class="btn btn-info btn-xs confirm-button" data-toggle="modal" data-remote="true"  data-type='lost' data-id="{{ x.pk }}" >I've found it.</button></td>
            <td> <center>{% if x.image %}<a href="{{ x.image.url }}" target="new"><span style="color:black; font-size:1.5em;" class="glyphicon glyphicon-camera"> </span></a>{% else %} <span style="color:#d3d3d3; font-size:1.5em;" class="glyphicon glyphicon-camera" > </span> {% endif %}</center></td>

            {% endfor %}
          </tbody>
        </table>

        {% else %}
        <h3>    <p>There are currently No Lost Items</p>  </h3>
        {% endif %}

      </div>
      <div class="tab-pane fade in" id="2">
        {% if found %}
        <h3><strong>Found Items</strong></h3>
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Details</th>
              <th>Specifics</th>
              <th>Report</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>

            {% for x in found %}

            <tr class="active result" id="found-{{ x.pk }}">
              <td>{{x.itemname}} </td>
              <td>Found at {{x.location}} about <span data-toggle="tooltip" title="{{ x.time }}">
                {{ x.time|ago }} .</span></td>
                <td>{{x.additionalinfo}} </td>

                <td><button class="btn btn-danger btn-xs confirm-button " data-toggle="modal" data-type='found' data-remote="true" data-id="{{ x.pk }}" >It's mine.</button></td>
                <td> <center>{% if x.image %}<a href="{{ x.image.url }}" target="new"><span style="color:black; font-size:1.5em;" class="glyphicon glyphicon-camera"> </span></a>{% else %} <span style="color:#d3d3d3; font-size:1.5em;" class="glyphicon glyphicon-camera" > </span> {% endif %}</center></td>

                {% endfor %}
                {% else %}
                <h3>    <p>There are currently No Found Items</p>  </h3>
                {% endif %}


              </div>
            </div>

          </div>
        </div>
        {% endblock %}