{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<div class="row" style="padding-top:5%">
  <div class="col-md-6 col-md-offset-3">

    <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#1" role="tab" data-toggle="tab">
      <span style="color:black;"><strong>Lost Items</strong></span>
    </a>
    <li><a href="#2" role="tab" data-toggle="tab">
      <span style="color:black;"><strong>Found Items</strong></span>
    </a>  
    </ul>
      <div class="tab-content">

      <div class="tab-pane fade in active" id="1">
      <br />
      
      {% if lost %}
    <h3>  Lost Items </h3>
    <table class="table">
      <thead>
      <tr>
        <th>Item</th>
        <th>Details</th>
        <th>Specifics</th>
        <th>Report</th>
      </tr>
      </thead>
     <tbody>  
      {% for x in lost %}

      <div class="modal fade" id="confirm_found_{{ x.pk }}_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel"> Are you sure ? </h4>
      </div>
      <div class="modal-body">
        Are you sure that you have found <strong>{{ x.itemname }}</strong> ? The owner will be intimated and it will be removed from the portal. Your email will be saved to prevent misuse.
      </div>
      <div class="modal-footer">
        <a class="btn btn-info" href="{% url 'found' x.pk %}" role="button">Yup. I've found it.</a>
      </div>
      </div>
      </div>
      </div> 

<tr class="active">
<td>{{x.itemname}} </td>
<td>Lost at {{x.location}} on {{x.time}}</td>
<td>{{x.additionalinfo}} </td>

<td><button class="btn-success" data-toggle="modal" data-target="#confirm_found_{{ x.pk }}_modal">I've found it..!!</button></td>

{% endfor %}
</tbody>
</table>

 {% else %}
    <h3>    <p>There are currently No Lost Items</p>  </h3>
    {% endif %}

      </div>
      <div class="tab-pane fade in" id="2">
      <br />
{% if found %}
<h3>Found Items </h3>
<table class="table">
      <thead>
        <tr>
        <th>Item</th>
        <th>Details</th>
        <th>Specifics</th>
        <th>Report</th>
        </tr>
      </thead>
      <tbody>

      {% for x in found %}
    <div class="modal fade" id="confirm_lost_{{ x.pk }}_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel"> Are you sure ? </h4>
      </div>
      <div class="modal-body">
        Are you sure that <strong>{{ x.itemname }}</strong> is yours ? The person who found this will be intimated and it will be removed from the portal. Your email will be saved to prevent misuse.
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger" href="{% url 'lost' x.pk %}" role="button">Yup. It's mine.</a>
        </div>
      </div>
      </div>
      </div>

<tr class="active">
<td>{{x.itemname}} </td>
<td>Lost at {{x.location}} on {{x.time}}</td>
<td>{{x.additonalinfo}} </td>

<td><button class="btn-danger" data-toggle="modal" data-target="#confirm_lost_{{ x.pk }}_modal">It's mine..!!</button></td>


{% endfor %}
 {% else %}
    <h3>    <p>You have No Found Items</p>  </h3>
    {% endif %}


      </div>
      </div>

     </div>
 </div>
{% endblock %}