<html>
<a href="{% url 'home' %}">Go back home</a>
<table>
<form action="{% url 'add_404_website' %}" method="post">{% csrf_token %}
{{ form.as_table }}
<input type="submit" value="Submit"></center>
</form>
</table>
<hr />

<table>
	<thead>
		<tr>
			<td>User</td>
			<td>Website name</td>
			<td>Website IP</td>
			<td>website link</td>
			<td>Token</td>
			<tr>Actions</tr>
		</tr>
	</thead>
	<tbody>
		{% for a in websites %}
		<tr>
			<td>{{ a.user.email }}</td>
			<td>{{ a.website_name }}</td>
			<td>{{ a.website_IP }}</td>
			<td>{{ a.website_url }}</td>
			<td>{{ a.token }}</td>
			<td><a href="{% url 'refresh_404_token' a.pk %}">Refresh token</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</html>